.DA_banner_container{
  display: flex;
  padding: 7rem;
  padding-left: 15rem;
 
  background: #2961bd;
  color: white;
  background: radial-gradient(rgb(117, 167, 205) , #2d6cc7, #2d6cc7); 
}
.DA_banner_container img{
  width: 30rem;
}
.DA_banner_info{
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.DA_banner_info h1{
  font-weight: bold;
}

.DA_banner_info button{
  width: 10rem;
  background: linear-gradient(to right, #4b87d4, #568fd3, #5b93d2, #6b9cd4, #7ba6d3, #7dacce, #73b3c2, #71b5bf, #68bbb5, #61c0ab);
  border: 0;
  border-radius: 0;
  padding: 0.5rem 0 0.5rem 0;
  color: white;
  transition: 500ms ease all;
}

.DA_banner_info button:hover{
  transform: scale(1.1);
}